{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["import"],
  "rules": {
    "linebreak-style": [ "error", "windows" ],
    "comma-dangle": [ "error", "never" ],
    "global-require": "off",
    "react/prop-types": "off",
    "jsx-a11y/no-static-element-interactions": "off" 
  }
}