.side-menu {
    position: absolute;
    width: 20%;
    min-height: 100% !important;
    height: 100%;
    background-color: orange;    
}

.right-container {
    width: 80%;
    min-height: 100% !important;
    height: 100%;
    background-color: white;
    float: right;
}

html {
    min-height: 100% !important;
    height: 100%;
    font-family: helvetica, open-sans;
}

body {
    min-height: 100% !important;
    height: 100%;
}


.app {
    min-height: 100% !important;
    height: 100%;
}

/********** Bootstrap **********/

.container-fluid {
    padding: 0 !important;
    min-height: 100% !important;
    height: 100%;
}

.row-fluid {
    min-height: 100% !important;
    height: 100%;
}